# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Venv
.venv/
venv/

# Env
.env
.env.local
.env.*
!.env.example

# Django
db.sqlite3
identifier.sqlite
staticfiles/
media/

# Node/yarn (на всякий случай)
node_modules/

# Tests/coverage
.pytest_cache/
.coverage
htmlcov/
